PORT=3000
NODE_ENV=local
API_REQUEST=https://erp.test

OPENAI_API_KEY=your_openai_api_key
OPENAI_API_URL=https://api.openai.com/v1/chat/completions
OPENAI_MODEL=gpt-4o-mini
OPENAI_ASSISTANT_NAME="Asistente Erp AI"
OPENAI_CREATE_ASSISTANT=true
OPENAI_TEMPERATURE=0
